[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg = "*"
flask = "*"
pytest = "*"
pytest-playwright = "*"
pytest-xprocess = "*"
autopep8 = "*"
py = "*"

[dev-packages]

[requires]
python_version = "3.11"
